/**
  * @name LightFuck
  * @author SpoonWasAlreadyTaken
  * @version 0.1
  * @description This is wh at light theme users wanted
*/


:root{
  --switch-unchecked-background: #ffffff;
  --switch-unchecked-color: #ffffff;
  --background-primary: #ffffff;
  --background-secondary: #ffffff;
  --background-accent: #ffffff;
  --background-tertiary: #ffffff;
  --background-secondary-alt: #ffffff;
  --channeltextarea-background: var(--24dp);
  --background-floating: #ffffff;
  --background-modifier-selected: var(--06dp);
  --background-modifier-hover: #ffffff;
  --background-modifier-active: #ffffff;
  --background-mentioned: #ffffff;
  --background-mentioned-hover: #ffffff;
  --switch-unchecked-background: #ffffff;
  --switch-unchecked-color: #ffffff;


  --text-normal: #ffffff; /*#c34ef1c7*/
  --text-positive: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;


  --user-profile-header-overflow-background: #ffffff;
  --logo-primary: #ffffff;
  --chat-border: #ffffff;
  --chat-background: #ffffff;
  --channeltextarea-background: #ffffff;
  --card-primary-bg: #ffffff;
  --chat-input-container-background: #ffffff;
  --scrollbar-auto-thumb: #fffffff;
  --scrollbar-auto-track: ##ffffff;

  --chat-background: var(--primary-600);
  --chat-border: #ffffff;
  --chat-input-container-background: var(--primary-600);

  --header-primary: #ffffff;
  --header-secondary: #ffffff;
  --header-muted: #ffffff;

  --interactive-active: var(--primary-160);
  --interactive-hover: var(--primary-400);
  --interactive-muted: var(--primary-300);
  --interactive-normal: var(--primary-400);

  --profile-gradient-message-input-border: #ffffff;


}



