/**
  * @name ToolKit
  * @author SpoonWasAlreadyTaken
  * @version 0.1
  * @description Remnant2ToolKit theme
*/


:root{

  --switch-unchecked-background: #74796e33;
  --switch-unchecked-color: #74796e;


  --background-primary: #11001C;
  --background-secondary: #0c0014;
  --background-accent: #000000;
  --background-tertiary: #0a0011;
  --background-secondary-alt: #000000;
  --bg-overlay-2: #0c0014;


  --channeltextarea-background: var(--24dp);
  --background-floating: var(--24dp);
  --background-modifier-selected: var(--06dp);
  --background-modifier-hover: var(--02dp);
  --background-modifier-active: var(--04dp);
  --background-mentioned: transparent;
  --background-mentioned-hover: #e7c21f04;
  --switch-unchecked-background: #74796e33;
  --switch-unchecked-color: #74796e;


  --text-normal: #8AA39E; 
  --text-positive: #ff0ff3;
  --text-primary: #ff0ff3;
  --text-secondary: #ff0ff3;



  --user-profile-header-overflow-background: #ff0ff3;
  --logo-primary: #c34ef1c7;
  --chat-border: #ff0ff3;
  --chat-background: #17181a;
  --channeltextarea-background: #17181a;
  --card-primary-bg: #ff0ff3;
  --chat-input-container-background: #ff0ff3;
  --scrollbar-auto-thumb: #06B6D4;
  --scrollbar-auto-track: #054550;


  --chat-background: var(--primary-600);
  --chat-border: #121315;
  --chat-input-container-background: var(--primary-600);


  --header-primary: #FFFFFF;
  --header-secondary: #06B6D4;
  --header-muted: #c34ef1c7;


  --interactive-active: var(--primary-160);
  --interactive-hover: var(--primary-400);
  --interactive-muted: var(--primary-300);
  --interactive-normal: var(--primary-400);

  --border-strong: #06B6D4;


}



